body{
  /*typography*/
  color: #222222;
  font-size: 1em;
  font-family: "Ubuntu Condensed","Helvelica Neue", san-serif;
  background-color: #FFECB6;
  margin: 0;
}

@media only screen and (max-width: 500px){
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .content-footer {
    font-size: 1.5em;
  }
  .social {
    font-size: 1em;
  }
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('http://www.photoblink.com/images/c22/im/pb171072.jpg');
  background-size: cover;
  border-top: thick solid #FFA516;
  border-top-width: 1.5em; 
  border-bottom: thick solid #FFA516;
  border-bottom-width: 1.5em; 
}



.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium book basic", Georgia, serif;
  font-size: 2em;
  color: #3405FF;
  font-weight: bold;
  text-shadow: 3px 2px 1px black;
}


.masthead-heading {
  margin-bottom: -0.2em;
  font-family:"Ubuntu Condensed", "Helvelica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #250FFF;
  text-shadow: 7px 6px 1px black;
}

.content-footer{
  padding: 1em 2em;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background-color:#FF9C00;
   moz-box-shadow:    inset 0 0 100px #000000;
   webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  
}

.intro-section,
.location-section,
.question-section, 
.projects {
  padding: 1em 2em;
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background-color:#FFD250;
   moz-box-shadow:    inset 0 0 100px #000000;
   webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
}

.social >li{
  display: inline-block;
}

.social {
  padding:0;
}

.intro-section >p,
.location-section >p,
.question-section >p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.question-section >h2{
  font-family:"Ubuntu Condensed", georgia, sans-serif;
  font-size: 1.2em;
  font-weight:bold;
}

.clone {
  width: 15.5em;
  display: inline-block;
  margin: 1.6em;

}


.times {
    background-image: url('../images/hackthetimes.png');
    height: 9.3em;
    width: 15.5em;
    background-size: cover;
  }

.karma {
    background-image: url('../images/KarmaClone.png');
    height: 9.3em;
    width: 15.5em;
    background-size: cover;
}

.fighter {
    background-image: url('../images/streetFighter.png');
    height: 9.3em;
    width: 15.5em;
    background-size: cover;
}

.sun {
    background-image: url('../images/morphing.gif');
    height: 9.3em;
    width: 15.5em;
    background-size: cover;
}
